<!doctype html>
<html>
	<head>
		<%- headertags %>
		<title><%= typeof pageTitle == "string" && pageTitle.length > 0 ? `${pageTitle} - ` : ""; %><%= blogname %></title>
		<meta name="description" content="<%= blogdescription %>">
	</head>
	<body>
		<div class="blog-main">
			<header><%- header %></header>
			<main>
				<% for (var article of articles) { %>
					<%- article %>
				<% } %>	
			</main>
		</div>
		<%- footer %>
	</body>
</html>