<!doctype html>
<html>
	<head>
		<base target="_blank">
		<meta charset="utf-8">
		<title>تواصل معي - <%= blogname %></title>
		<meta name="description" content="<%= blogdescription %>">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Youssif Sayed">
		<link rel="stylesheet" type="text/css" href="<%= blogurl %>/resource/css/theme.css">
	</head>
	<body>
		<div class="blog-main">
			<header><%- header %></header>
			<main>
				<h2>تواصل معي</h2>
				<p class="state"></p>
				<img src="https://s.gravatar.com/avatar/082d5f33604569ce1170987351ec7c31?s=80" style="display: block; margin: 0 auto">
				<p>يوسف سيِّد حسن مسلم، مبرمج، ومطور ويب، مصمم -أحيانًا، طالب أزهري شعبة علمية، مصري الجنسية، أحاول تعلّم الكتابة، عمري 16 عام، أسعي لأضاة نور في هذه الدنيا.<p/>
			</main>
		</div>
		<%- footer %>
	</body>
</html>